@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

/* This is the header css */

.header * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    z-index: 1;
  }
  .header li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
  }
  .header a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    text-decoration: none;
    display: inline-block;
  }
  .header a:before,
  .header a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #4ade80;
    width: 0;
  }
  .header a:before {
    top: 0;
    left: 0;
  }
  .header a:after {
    bottom: 0;
    right: 0;
  }
  .header a:hover,
  .header .current a {
    color: #ffffff;
  }
  .header a:hover:before,
  .header .current a:before,
  .header a:hover:after,
  .header .current a:after {
    width: 100%;
  }


/* *{
    margin: 0px;
    padding: 0px;
} */

/* This is the main/bubbles css */

body{
    font-family: 'Exo', sans-serif;
    background-image: url("src/CircuitBoard.svg");
}



.area{
    background: #141419;
    width: 100%;
    height:100vh;
    z-index: -1;  
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(74, 222, 128, 0.4);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 8px;
    height: 8px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 4px;
    height: 4px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 2px;
    height: 2px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 6px;
    height: 6px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 5px;
    height: 5px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 11px;
    height: 11px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 15px;
    height: 15px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 2.5px;
    height: 2.5px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 3.5px;
    height: 3.5px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 15px;
    height: 15px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 100%;
    }

    25%{
        transform: translateY(-250px) rotate(180deg);
        opacity: 0.5;
        border-radius: 100%;
    }

    50%{
        transform: translateY(-500px) rotate(360deg);
        opacity: 1;
        border-radius: 100%;
    }

    75%{
        transform: translateY(-750px) rotate(450deg);
        opacity: 0.5;
        border-radius: 100%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 1000%;
    }

}



